.navbar {
	background-color: rgb(253, 89, 89) !important;
}

.title {
	color : #fff;
	font-weight: 900;
}

.page-content {
	background-color: rgb(245, 246, 247) !important;
}

.active {
	color: rgb(253, 89, 89) !important;
}

.no-active {
	color: #797979;
}

.card {
	margin: 20px 0 !important;
}

.list:last-child.card {
    margin-bottom: 15px !important; 
}

.list:first-child.card {
    margin-top: 10px !important; 
}

.ion-ios-arrow-back {
	color:#fff !important;
}

a {
	text-decoration: none !important;
}

/*.item-about {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}*/